[2019-09-09 14:51] jdegoes opened #1 "Adding logging environmental effect"
Here's a quick sketch of a logging API.

[code]

I don't think this is quite sufficient. We probably need to think about `FiberRef` integration and making sure we have a small set of operations that can be implemented by many different logging libraries (e.g. LogStage, all the ZIO loggers, slf4j, etc.).

[2019-09-09 15:09] softinio commented on #1
This is a good idea. Are we trying to get this done in time for release 1.0?

[2019-09-09 15:16] pshirshov commented on #1
This wouldn't work for our structured logging solution. I would propose this as a starting point:

[code]

[2019-09-09 17:44] NeQuissimus commented on #1
Looks remarkably similar to https://github.com/NeQuissimus/zio-slf4j/blob/master/src/main/scala/logger.scala ?

I use https://github.com/NeQuissimus/zio-slf4j/blob/master/src/main/scala/package.scala#L8 to turn any `A` into something log-able...

[2019-09-09 18:06] pshemass commented on #1
@NeQuissimus yes it is very similar. we would like to have very simple interface that can be back up with slf4j and other implementations. Moreover we would like to avoid dependencies to scalaz if possible.

[2019-09-09 18:23] NeQuissimus commented on #1
Oh, I know... I meant to point out that you are welcome to take whatever I have in that repo.
It would come down to implementations of `Logger.Service` on how each framework handles the actual logging, of course.

[2019-09-09 18:29] pshemass commented on #1
@pshirshov why we need ```F[_]``` ? I was thinking that ```ZIO``` would be enough in this case. We try to keep this interface very simple.

[2019-09-09 19:45] pshirshov commented on #1
It's not neccessary to make it polymorphic, though it may be very useful at least for those who wish to reuse the same logger for any code outside of ZIO so they may put identity there. We have our own typeclass wrapping ZIO for basic usecases and in general it's very useful. Though I don't insist (but I still think it may be a very good idea to build a hierarchy of typeclasses)

[2019-09-10 08:04] mijicd opened #4 "Enable cross builds for scala 2.13"

[2019-09-10 08:05] mijicd opened #5 "Enable sonatype publishing"
Relevant publishing sections can be found [here](https://github.com/zio/zio-nio/blob/master/.circleci/config.yml).

[2019-09-10 12:02] jdegoes commented on #1
I'd prefer not to make the effect type polymorphic. At that point we're just trying to be a better `log4cats`, but it's far easier to own new markets than compete with existing ones.

[2019-09-10 12:31] jdegoes commented on #1
I'd propose a slight modification on the above proposal:

[code]

Possibly we should add something like MDC:

[code]

Then the context can be adjusted, although mapping that to MDC is obviously a lot of work and the subject of a pending PR.

Then the last point is whether or not to support the creation of loggers based on classes, etc., or whether "global loggers" are sufficient.

[2019-09-10 16:09] pshirshov commented on #1
A macro can do it. Also we may provide a classic way to define location specifically for `Logging`

I don't think that MDC-like approach is a good thing. Just custom-provided contexts are very efficient (and very easy to handle and debug). `def apply(userContext: (String, String)*): AbstractLogging` should be just fine for 95% of the usecases (IMO) - user can always pass a logger bound to custom c

[2019-09-10 20:03] pshemass commented on #1
@pshirshov how would you handle things like request-id/correlation-id without MDC-like approach?

[2019-09-10 21:25] pshirshov commented on #1
In our case we create a logger with custom context containing requestid and passing it further explicitly. Though I'm not trying to say that it's the best option possible, just easiest.

[2019-09-10 23:12] jdegoes commented on #1
I don't think it _hurts_ to have `context`, since we can always "compile that away" for logging implementations that don't support it (that is, embed context, if present, into the strings / messages passed to underlying implementation). Context, however, strikes me as an 80% solution: simple, good enough for the common case, and easily understandable.

[2019-09-20 12:22] thiloplanz commented on #1
Having the Logging service explicitly support `context` instead of passing it around separately seems much better to me, not only for reduced boilerplate, but also (and probably more importantly) because a Logging implementation could then also integrate that `context` with the MDC capabilities of the underlying logging backend, so that not only our own ZIO-aware application code benefits from it,

[2019-10-14 16:43] mlangc commented on #1
@thiloplanz As mentioned by @jdegoes, there is a [pending PR](https://github.com/zio/zio/pull/1341#issuecomment-530960054) that allows `FiberRefs` to be read unsafely from side effecting code. A proof of concept implementation of fiber aware MDC logging for log4j2 based on a slightly outdated version of the aforementioned PR can be found [here](https://github.com/mlangc/zio-interop-log4j2/blob/5da

[2019-10-21 08:54] leigh-perry commented on #1
I have a logging library https://github.com/leigh-perry/log4zio that might be a useful starting point for zio-logging. Its main selling point is contravariant-functor-style composition of loggers. It is ZIO-based without dependencies on Cats or Scalaz.

It is in line with @jdegoes initial sketch at the top of this issue.

[2019-10-21 22:49] leigh-perry opened #7 "Base on log4zio?"
At @jdegoes 's request, I have opened this as its own issue.

I have a logging library https://github.com/leigh-perry/log4zio that might be a useful starting point for zio-logging. Its main selling point is contravariant-functor-style composition of loggers. It is ZIO-based without dependencies on Cats or Scalaz.

### Modules

Currently there are two modules:

1. `core` contains the main abstracti

[2019-10-22 11:43] NeQuissimus commented on #7
I don't agree with the "error-free" design.
I understand it's convenient but you have code that can fail. Yet, your types convey that it cannot, which is effectively a lie. This is a slippery slope from effect to side-effect.

Personally, I also think it is awkward that one needs a `Log[A]` for every `A` that needs logging.
Looking through some of my smaller services, I'd end up with at least 3 or

[2019-10-22 22:39] leigh-perry commented on #7
I understand it's convenient but you have code that can fail. Yet, your types convey that it cannot, which is effectively a lie. This is a slippery slope from effect to side-effect.

These are genuine `UIO`s. `Log` and `LogMedium` instances provide fallback so that no failures are emitted. For example, in the slf4j module, see `.catchAll` on [acquisition](https://github.com/leigh-perry/log4zio/blo

[2019-10-23 00:18] leigh-perry commented on #7
The alternative to `UIO` is to give users the choice of error handling:
[code]
and for those wanting unexceptional logging, separate out the `.catchAll` handling into another syntax layer, eg `throwableLogger.safely`.

[2019-10-24 12:44] leigh-perry commented on #7
Update: I have exposed error-ful versions too - the error-free versions build on these, adding fallback handling to avoid emitting errors. For example [`consoleE`](https://github.com/leigh-perry/log4zio/blob/master/modules/core/src/main/scala/com/leighperry/log4zio/LogMedium.scala#L51) can emit errors, whereas `console` can not.

[2019-11-24 17:21] #5 closed

[2019-11-26 16:05] jdegoes commented on #7
I think what we need to do is steal the concept of a contravariant `Logger`.

Currently we only have logging methods, no means to create a logger, and hence, since loggers are not really first-class values, no means to contramap them or compose them.

Unfortunately everything was merged while I was away, but I'll try to revisit what's in the repository as soon as I can and come up with some hybrid

[2019-11-26 16:07] #1 closed

[2019-11-27 11:56] leigh-perry commented on #7
Closing this issue as an alternative implementation has been merged.

[2019-11-27 11:56] #7 closed

[2019-12-07 20:10] #4 closed

[2020-01-17 00:51] danieljsun opened #29 "new instance of `Logger` is created for every log operation (e.g. info)"
In the `Examples#run`, every `logger.info` seems creating a new instance of `Slf4jLogger`, etc.

[2020-01-17 03:36] pshemass commented on #29
are you sure about it? I just check using the most scientific method - `println` after line 13. Looks like this function is called once so there will be only one instance.

[2020-01-17 03:53] dsun-da commented on #29
Thanks @pshemass for prompt response. Nice method ;)
I can see multiple `foobar` in console with the following code block in [Slf4jLogger.scala](https://github.com/zio/zio-logging/blob/fb161f52941041522650941e298b55afde3928c8/slf4j/src/main/scala/zio/logging/slf4j/Slf4jLogger.scala#L86):
[code]
Thanks!

[2020-01-17 04:01] danieljsun commented on #29
Thanks @pshemass  for checking.
How about `println` here: [Slf4jLogger.scala](https://github.com/zio/zio-logging/blob/fb161f52941041522650941e298b55afde3928c8/slf4j/src/main/scala/zio/logging/slf4j/Slf4jLogger.scala#L86)?
e.g.
[code]

[2020-01-17 04:32] pshemass commented on #29
I spotted that too. Feel free to open PR to fix that.

[2020-01-18 00:03] jdegoes opened #30 "New design for ZIO Logging"
[code]

[2020-01-18 00:27] jdegoes commented on #30
In the new environment encoding, we would add to this a bit:

[code]

This will make sense soon. 😄

[2020-01-18 15:23] jdegoes commented on #30
Updated with improved encoding.

[2020-01-18 19:19] pshemass commented on #30
I guess this is related with your PR in zio-core https://github.com/zio/zio/pull/2594 :)

[2020-01-19 00:04] pshemass commented on #30
#31 open for review

[2020-01-21 18:07] #30 closed

[2020-01-21 18:11] jdegoes opened #32 "Create apply method on LogAnnotation for nicer syntax"
Create apply method on `LogAnnotation`:

[code]

Then it can be used like so, `logger.locally(Level(LogLevel.Info)) { ... }`.

[2020-01-23 16:14] pshemass opened #33 "Add Microsite"
we should follow the same pattern as in other project to provide documentation via microsite. This documentation should consist of description of library purpose, design choices and code examples

[2020-02-03 01:38] pshemass commented on #33
closed by https://github.com/zio/zio-logging/pull/37

[2020-02-03 01:38] #33 closed

[2020-02-04 17:06] jadlr opened #39 "Create functions that pass a throwable to the underlying logging system"
I'd like to be able to pass a `Throwable` to the logging system.

Something like this would be possible:
[code]

Thanks!

[2020-02-06 18:34] jdegoes commented on #39
We should add the more fundamental one in ZIO, which is logging a `Cause`, and then a more special case one can be implemented in terms of that one, e.g.:

[code]

[2020-02-06 18:48] pshemass commented on #39
@jdegoes I would like to add methods in package objects for `info` and `debug` as shortcuts to `log(LogLevel.Info)` and `log(LogLevel.Debug)`. What do you think?

[2020-02-11 16:12] pshemass commented on #32
fixed by https://github.com/zio/zio-logging/pull/41

[2020-02-11 16:12] #32 closed

[2020-02-12 01:44] pshemass commented on #39
@jadlr I released 0.2.1 with `error` and `throwable` methods let me know if that's works for you.

[2020-02-12 01:44] #39 closed

[2020-02-12 13:03] jdegoes commented on #39
@pshemass Agreed, `logInfo`, `logDebug`, etc. One for every `LogLevel`.

[2020-03-09 20:25] Cereopsis opened #55 "Fiber failure when used with Play 2.8"
I'm wanting to upgrade some Play apps to use the new ZLayer and have additionally upgraded zio-logging to `0.2.3`. Sbt libraryDependencies are minimal - I'm letting zio-logging pull the zip version it wants to.

I've stripped back to the most basic case here by firing up a play-scala-seed app with the following controller code:

[code]

If I hit localhost:9000/ a few times it will fairly regularly

[2020-03-09 23:08] Cereopsis commented on #55
Just to confirm, rolling back to `zio 1.0.0-RC17` with `zio-logging 0.2.0` and adjusting the code to the following, we get no errors:

[code]

[2020-03-10 04:24] pshemass commented on #55
@Cereopsis Could you please use `putStrLn` and run the same experiment with `1.0.0-RC18`?

[2020-03-10 07:26] Cereopsis commented on #55
@pshemass Good call - fails in exactly the same way. So it seems this really belongs in `zio`. Should I be enabling additional tracing in any way?

[code]

[2020-03-10 07:52] Cereopsis commented on #55
@pshemass Taking it a little bit further after looking at `zio.console` and borrowing the meat of what `putStrLn` actually does, this also works with no errors. Looks like the issue might be in `Fiber`?

[code]

[2020-03-10 10:10] Cereopsis commented on #55
I'll try `zio-logging-slf4j` a bit later - I can't remember quite how I arrived here now but I'm sure I was trying to upgrade a microservice from RC15 -> RC18-1 and was already using slf4j there, so I figure I must have hit the issue then?

[2020-03-12 03:12] pshemass commented on #55
@Cereopsis I'm closing this. please open ticket in core

[2020-03-12 03:12] #55 closed

[2020-03-13 15:07] frekw opened #59 "Support for structured logging"
Hi!

I've been trying to (in a very hacky manner) implement a PoC logging service on top of zio-logging with support for structured logging and run into some issues/questions along the way.

Ideally I wanted to grab all the pieces of metadata off the [logging context](https://github.com/zio/zio-logging/blob/master/core/src/main/scala/zio/logging/LogContext.scala#L6) and expose it when the logline

[2020-03-13 15:29] frekw opened #60 "Idea: sampling of logs"
Hi!

Something I often struggle with is getting the log levels in production right. Either I get way too much noise, or run the risk of not having enough context to efficiently debug production errors.

One approach to improve this that I've used in the past is to do log sampling on a per-request-basis. It more or less works by buffering all log calls during the duration of the request, but only a

[2020-03-13 16:16] miguel-vila commented on #59
+1

This would be helpful for us as well.

As a work around I created a custom slf4j `Logging` constructor that uses structured logging. It creates a  logstash `Marker` from a zio `LogContext`. It's far from ideal because annotations need to be known beforehand, as @frekw noted:

[code]

I'm not sure what design changes should be made to support structured logging more generally but it would be re

[2020-03-16 06:38] mschuwalow opened #62 "Readd message to logError"
Currently, logError only supports providing a Cause. In the previous version both a Cause and String could be provided, which I believe is far nicer for including additional information.

What was the motivation for removing it?

[2020-03-16 14:58] pshemass commented on #62
that's good point we should put it back. Can you open PR for that?

[2020-03-17 04:26] pshemass commented on #59
I added `render` on context that returns `Map[String, String]` with all annotations. https://github.com/zio/zio-logging/pull/64

[2020-03-19 03:41] pshemass commented on #62
close by https://github.com/zio/zio-logging/pull/65

[2020-03-19 03:41] #62 closed

[2020-03-30 22:40] ipsq opened #73 "Recommended usage in combination with ZLayer"
I'm currently writing my first application based on `ZLayer` based on Pavels Sisojevs blog post ["From idea to product with ZLayer"](https://scala.monster/welcome-zio/). In his blog post he makes use of a self rolled logging service. Instead of rolling it myself, I used this project. So far so good. I create my own implementation classes with the following example dependencies:

[code]

However, I

[2020-03-31 01:45] pshemass commented on #73
I haven't read his blog yet but in the projects that I'm using ZIO with layers I typically use combinators provided by ```ZLayer``` - ``++`` and ```>>>```.

with ```ZLayer``` your code will look
[code]

[code]

you have couple of options how to create ```ZLayer``` with ```Logging```.
1. Use ```zio.logging.Logging.make``` and pass whatever function ```(LogContext, => String) => URIO[R, Unit]``` per

[2020-03-31 12:03] psisoyev commented on #73
From what I see in the code of the current implementation of `zio-logging` (v0.2.5), it doesn't follow the module pattern.
It looks like  `Logging` module should have a `Service` methods of `Logger` and maybe even more. I would like to see methods like `info`, `warn` etc on `Service` level that would simply be implemented as:
[code]
That kind of convenience method would simplify the usage of the l

[2020-03-31 14:17] ipsq commented on #73
Would the following `Logging` object definition be adhering to the module pattern set by ZIO?

[code]

If not then we could let `Logging.Service` extend `Logger` and proxy the methods from an underlying. Or even to keep the API backwards compatible, proxy on the `logger` method on the `Logging.Service` like so:

[code]

In combination with this, I'd like to propose the following methods being adde

[2020-03-31 14:26] jdegoes commented on #73
I think a few things could be done:

1. Add `fine` / `debug` / etc. shorthands to the `LoggerLike` trait.
2. Add all methods of `Logger` trait to the `Logger` companion object, as helpers that access a logger methods from the environment (`Has[Logger]`). This will make it more consistent with other ZIO projects.
3. Have all `log.*` helper methods just delegate to the methods inside `Logger` compan

[2020-03-31 14:34] ipsq opened #75 "Add Log Annotations for Marker and Throwable for Slf4j"
Slf4j provides native support for both `Marker`s and `Throwable`s. zio-logging-slf4j should provide support for these using its `LogAnnotation`. Can provide PR when approved.

[2020-03-31 14:49] pshemass commented on #75
Throwable is already added

[2020-03-31 15:39] pshemass commented on #73
https://github.com/zio/zio-logging/pull/76

added methods to ```LoggerLike```

[2020-03-31 15:49] pshemass commented on #73
@psisoyev I'm still trying to understand why do you think that doing this
[code]

is better to do this
[code]
Could you explain this for me?

[2020-03-31 15:54] pshemass commented on #73
@ipsq you are right this is not recommended if you build service layer. I added more methods to logger that should be #76 merged soon.

[2020-05-06 12:50] renancaju opened #91 "Suggestion: ZIO Log Ops to improve usability"
I find it that logging sometimes make your code more difficult to read, since you normally interleave commands with logging operations. In my most recent code I've created a `ZIOLogOps` implicit class that gives us what I consider a more readable alternative to that.

[code]

A usage example would be:

[code]

The current alternatives without this syntax would be:

[code]

I find the first alterna

[2020-05-06 12:53] renancaju commented on #91
It would still need a standard way to generate UUID's with the ZIO library, which I don't think there is right now.

[2020-05-07 14:55] pshemass commented on #73
I believe those suggestions has been addressed.

[2020-05-07 14:55] #73 closed

[2020-05-07 15:15] pshemass commented on #91
I see what you mean but I'm not exactly convinced to your approach
in pipe example
[code]

I like ```logError``` part but not ```logInfo``` part. I would write this
[code]

for `withCorrelatationId` and `withLoggerName` I would say no. I prefer to have something like
[code]

what do you think @renancaju about this?

[2020-05-07 15:16] pshemass commented on #75
@ipsq are you going to add ```Marker```?

[2020-05-07 15:33] renancaju commented on #91
About the `logInfo` bit, yeah, I guess it's not great. But imagine you just want to log the result like this:

[code]

I feel it would be better than:

[code]

About the annotation composability you proposed, you mean making `LogAnnotation` a trait and creating case classes extending that trait like `CorrelationId`, `Name`, etc? Or those case classes would extends some other trait that would be li

[2020-05-07 16:49] pshemass commented on #91
as you mentioned this is all subjective. For me `for` in scala or `do` in haskell ware created to help organize code in sequence vertically so argument with one liner in `for` doesn't resonate with me :)

even with today structure you can do this
[code]
maybe it's a matter to add shortcut for that. What do you think?

[2020-05-07 17:12] renancaju commented on #91
Sorry, I guess I missed the `apply` method on `LogAnnotation` that returns a `LogContext => LogContext`, which makes everything compose nicely...

I guess the only improvement in my suggestions would be regarding the generation of `UUID`s automatically. But since there is no standard way of doing so with ZIO, I guess it would not be in the scope of zio-logging. Maybe an external zio-utils package

[2020-06-14 07:38] tusharmath opened #113 "SBT Exit throws an sl4j error"
I am using the `Console` logger for my use case and yet I keep getting the following error

[code]

[2020-06-14 14:49] #91 closed

[2020-06-15 02:47] pshemass commented on #113
@tusharmath we don't have Log4j in our project. Please revisit your project dependencies.

[2020-06-16 05:37] tusharmath commented on #113
I guess it's because of `SL4J` which depends on `Log4J`
https://github.com/qos-ch/slf4j/blob/master/pom.xml#L47

[2020-06-16 05:48] tusharmath commented on #113
Could be because of — https://github.com/sbt/sbt/issues/4588

[2020-06-17 01:20] pshemass commented on #113
`"org.slf4j" % "slf4j-api" % "1.7.30",` doesn't have any dependencies. This is just api. You can check this in "Compiled Dependencies" section on https://mvnrepository.com/artifact/org.slf4j/slf4j-api/1.7.30

https://github.com/qos-ch/slf4j/blob/master/pom.xml#L47 indicates version of log4j in `slf4j-log4j` which is build in the same project as api but it's separate artifact and we do not dependen

[2020-06-17 01:20] #113 closed

[2020-08-10 21:52] feederiken9 opened #136 "[feature request] ConsoleLogWriter should write to the standard error output"
Currently, `SimpleConsoleLogWriter` and `ColoredLogWriter` output log messages the the standard output of the console. It would be more in-line with other logging frameworks, and more helpful IMHO to direct them to the dedicated error console also known as `StdErr`.

AFAICT this can be achieved by simply changing the 2 calls to `zio.console.putStrLn` in `LogWriter.scala` to `zio.console.putStrLnEr

[2020-08-11 00:18] pshemass commented on #136
@feederiken9 do you want to open PR for that?

[2020-08-11 22:13] feederiken9 commented on #136
@pshemass would rather not. Signing a CLA under a pseudonym seems like more trouble than it's worth, it would be better for everyone if an established contributor looked into it.

[2020-08-12 16:11] pshemass commented on #136
@feederiken9 fair enough. Problem is that I'm the only "established contributor" but I don't have time recently for this project. I will do my best anyway to address that.

[2020-08-19 17:04] pshemass commented on #136
@feederiken9 I opened PR #139 that should allow you to do this. I'm not sure that this should be default.

[code]

[2020-08-27 02:15] djx314 opened #143 "Api discuss"
https://github.com/zio/zio-logging/blob/64c7ed9dd5e49275c369cae92f8fc125f571d0d2/core/src/main/scala/zio/logging/log.scala#L25-L31

Here R is already <: Logging, is it need to declare return type to `ZIO[Logging with R, E, A1]` ? or `ZIO[R, E, A1]` is OK ?
Now I'm using nat programming to rebuild a new zio api and rebuild the api only `log.scala` in zio-logging. I find that just use `XIO[R, E, A1]

[2020-08-27 03:32] pshemass commented on #143
Hi @djx314, it needs  both because one is requirement for `Logging` since this is object method we need to express that someone will provide instance of `Logging` to run our program. `R` is coming from the function that you can pass. Imagine that this will be your custom annotation that will beginning of your operation.
[code]
then to grab time in ZIO you will probably use `zio.clock`
[code]

let

[2020-08-27 04:19] djx314 commented on #143
Let me have a test when have some time, just keep it open. Thanks.

[2020-08-27 04:22] pshemass commented on #143
@djx314 there is test for this in codebase that may help https://github.com/zio/zio-logging/blob/master/core/src/test/scala/zio/logging/LoggerSpec.scala#L95

[2020-08-29 19:26] #143 closed

[2020-08-30 16:43] pshemass commented on #136
close by #139

[code]

[2020-08-30 16:43] #136 closed

[2020-08-30 16:44] #75 closed

[2020-09-05 07:18] reibitto opened #147 "Additional helper methods for Cause parameter"
Currently only `Logger.error` has an optional `Cause` parameter. I was expecting this helper method for all log levels. For example, I'm trying to print a failure with Warn level.

Also seemingly tied with this design decision is:

[code]

Which is hardcoded to print with `LogLevel.Error`. I don't know if that should also accept an optional `LogLevel` or more overloads to `warn`, `info`, etc. help

[2020-09-05 21:42] joroKr21 opened #149 "Slf4jLogger name broken in 0.5.0"
Looks like somehow the changes in encoding broke the magic to set the logger name to the class name.
Now the logger name is always `zio.logging.LogAppender$$anon$2`
At a first glance I cannot tell why that changed.

[2020-09-07 03:40] pshemass commented on #147
that's great idea to add `LogLevel` with default to `LogLevel.Error` to throwable

[2020-09-07 03:43] pshemass commented on #149
could you share code that you initialize `Layer`? it will help me reproduce this issue.

[2020-09-07 04:50] pshemass commented on #149
I was able to reproduce this. sorry for this break I will try to fix this tomorrow

[2020-09-07 05:21] joroKr21 commented on #149
The setup is a bit complex but I'm not sure it matters:
[code]

[2020-09-07 05:23] joroKr21 commented on #149
I think the problem is in `Slf4jLogger.make` and `classNameForLambda` that is trying to get the class of the lazy message.
Somehow it stopped working. The workaround is to provide a logger name explicitly (which might be a good idea anyway).

[2020-09-07 05:25] pshemass commented on #149
no the problem is in LogAppender. since I separated formatiing and writing
[code]
at this moment we lost source of lambda

[2020-09-07 06:10] joroKr21 commented on #149
Oh yeah I see

[2020-09-09 20:46] pshemass commented on #149
fixed in 0.5.1

[2020-09-09 20:46] #149 closed

[2020-11-15 18:29] zhiwilliam commented on #60
I will add some more ideas. We need several different loggers. One is for error happened, I need log every step information but if nothing happened, I want log nothing. Which could be done by mapError( yourLogger => saveLog...) Another one is for performance log. You log every time we call every IO or method, log running time. But don't write them out. Instead, in your logger you record average ti

[2020-11-15 18:42] zhiwilliam opened #184 "Could you please explain me a little bit of your design?"
Hey, I just quickly reviewed your code and a little bit be shocked!  I didn't find and monad in your core code. I saw a class called writer, but when I clicked in, I saw java io writer? It seems nobody knows functional programming log is made by writer monad? John provided state monad already and you can easily turn it as a good writer for logging. Maybe I am wrong but seems this is zio official s

[2020-11-18 04:31] pshemass commented on #184
@zhiwilliam we know about writer monad and other monads too. Believe me :)

@jdegoes could you weight in.

[2020-11-18 05:03] pshemass commented on #60
@zhiwilliam do you want to open PR with one of those?

[2020-11-18 17:44] zhiwilliam commented on #60
Ah, sorry, I am not sure if I can provide PR since I am currently working
in a big company. Need to check with them to see if there's any restriction.

I did find you have a very closed implementation as the same idea as I had
in your test code. :) So I shall say sorry about that I didn't find it. I
have some code already to realize my idea. If my company allow will PR.

Best Regards,

William

On

[2020-11-18 18:12] pshemass commented on #60
feel free to reach me out on discord maybe we could put something together

[2021-01-18 15:33] vigoo opened #210 "Provide a ZManaged variant of locally"
It would be nice to be able to apply log annotations when constructing a managed resource using logging in the acquire/release effects.

[code]
all three log lines should have the applied annotations

[2021-02-06 00:37] kubukoz commented on #210
Pretty sure that's how `locally` works right now, isn't it? All the lines are in the "enriched" context.

Unless `use` would be outside of `locallyManaged`, like:

[code]

because yeah, that would be cool :)

[2021-03-03 17:53] kubukoz opened #234 "Idea: ability to dump logging context into MDC on arbitrary effect"
Hi!

Sometimes you have to wrap a classic Scala library / a Java library which uses slf4j directly. Sadly, in these situations, the context of a logger will never reach MDC, so you won't see anything unless you explicitly wrap the interop with something roughly like:

[code]

I don't know that much about what ZIO lets us do in this situation, but do you think this would be possible to do automatic

[2021-03-04 01:45] pshemass commented on #234
@kubukoz this sound pretty hacky :) I'm not aware of any solution for that but let ask @jdegoes and @mijicd

[2021-03-04 02:56] kubukoz commented on #234
Of course it's hacky, it's MDC ;)

[2021-03-12 16:16] meadofpoetry opened #239 "Construct logging layer within effectful computation."
Since `ZLayer` is not a monad, I have real troubles with creating a logging layer.

All the methods which allow to create a logging layer are similar to:

[code]

Now, consider I would like to read `logLevel` from the config file or environment variable. It would be an effectful computation (or a layer), but since I can't lift `ZLayer`, there is no `flatMap` or something, I can't construct `ZLayer

[2021-03-14 22:02] pshemass commented on #239
Yes `ZLayer` is not a monad but scenario that you describe can be handle with `Logging.modifyLoggerM`

[code]
probably we should provide `withContextM` to streamline this a little bit.

Let me know if that helps

[2021-03-14 22:03] #184 closed

[2021-03-14 22:27] jdegoes commented on #184
Writer monad (`(w, a)` for `Monoid w`) is not practical for logging, as logging must handle infinite processes, and must make best-effort guarantee that maximal log information is preserved.

The writer monad is really only practical for finite computations whose "logs" can be safely discarded without negative impact on the business (e.g. timings and metrics for a query phase, for example).

You c

[2021-03-15 09:38] meadofpoetry commented on #239
Thanks, that's precisely what I want.

[2021-03-15 09:39] #239 closed

[2021-03-19 00:21] virusdave opened #240 "FR: slf4j bridge improvement"
Slf4j docs show a pattern of using `{}` in log format message (see http://www.slf4j.org/manual.html#typical_usage)
However, the bridge implementation uses `String.format` everywhere (see eg. https://github.com/zio/zio-logging/blob/master/slf4j-bridge/src/main/scala-2/org/slf4j/impl/ZioLogger.scala#L20), which doesn't substitute the arguments' `.toString` result in place of that when logging.  The

[2021-03-21 19:49] domdorn opened #242 "add zio.logging.Logging.any"
add this similar to what Clock, Console etc. have so a user can defer construction of the logging Layer
[code]

[2021-04-20 19:04] noppadolr665 opened #252 "zio"
<?xml version='1.0' encoding='UTF-8'?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/POM/4.0.0">
    <modelVersion>4.0.0</modelVersion>
    <groupId>dev.zio</groupId>
    <artifactId>zio-logging-slf4j-bridge_2.13</artifactId>
    <packaging>jar</packagi

[2021-04-20 19:04] noppadolr665 commented on #252
yyyy

[2021-04-21 18:44] fokot opened #253 "Missing error in logger.error(String, Cause[Any])"
[code]
Logs just `"Error in logging slack message"`
But this logs also the error
[code]

[2021-04-22 05:37] vigoo commented on #253
Related discussion: https://github.com/zio/zio-logging/pull/205

[2021-05-04 04:47] #252 closed

[2021-05-04 04:49] pshemass commented on #234
sorry but no solution for that

[2021-05-04 04:49] #234 closed

[2021-05-14 23:26] domdorn opened #267 "provide something similar to zio.logging.log.locally for zstreams"
we need something like `zio.logging.log.locally` for zstreams.. at the moment I'm doing this like this and it took me quite a while to figure it out:
[code]

[2021-05-14 23:29] domdorn opened #268 "`context.annotate` gets evaluated for every logging call"
It appears that every call on the logger reevaluates the context and thus triggers unwanted side-effects.

I used this code to annotate elements of my stream
[code]

When running this code, one sees that for every `zio.logging.log.debug` call, a new CalculationId (UUID) is generated, although it should stay fixed.

When I run this on my machine, it outputs the following:
[code]

Expected behavior:

[2021-05-21 10:23] lxwbr opened #274 "Release compiled for Scala 3"
Currently having an issue with using `zio-logging` Scala 2 version and the `zio` Scala 3 version together in a Scala 3 project. The error I receive is:
[code]
Unfortunately I cannot use `zio` Scala 2 compiled version for another issue with `Tag` in that version of `zio`. Do you plan to release a Scala 3 version of `zio-logging` anytime soon?

[2021-05-21 22:26] cilicio commented on #274
Waiting for this too.

[2021-05-22 19:10] pshemass commented on #274
0.5.9 with Scala 3.0 on the way

[2021-05-22 19:10] #274 closed

[2021-05-22 20:56] pshemass commented on #268
Hi @domdorn,

this is interesting I need to look into that closely.

I managed to achieve behavior you want with
[code]

both use the same mechanism but somehow their are inconsistent.

[2021-05-26 02:44] pshemass commented on #210
@vigoo `acquire` and `release` part is pretty easy to implement with `Reservation` but `use` is close to impossible with current `ZManaged`

[code]

do you think is still worth to add it?

[2021-05-26 16:30] pshemass commented on #267
I added `log.locallyZStream` check https://github.com/zio/zio-logging/blob/master/examples/src/main/scala/zio/logging/ZStreamExample.scala for example of use

[2021-05-26 16:31] pshemass commented on #242
added in #276

[2021-05-26 16:31] #242 closed

[2021-05-26 16:36] pshemass commented on #268
@domdorn behavior is expected. When you use `derive` new logger will always execute the function you pass to it. I added `locallyZStream` which should cover your use case.

[2021-05-26 16:36] #268 closed

[2021-05-26 17:02] pshemass commented on #210
added `locallyManaged` in #276.

[2021-05-26 17:03] #210 closed

[2021-08-04 16:15] domdorn opened #309 "Provide empty logger as instance for .updateService"
today I needed to deactivate logging for a certain effect and noticed that we only have the `Logging.ignore` layer but not a simple EmptyLogger instance I can use with `.updateService `

[code]

I use it in my streams like this:

[code]

Maybe we can include this in a straightforward way into the library?

[2021-08-09 15:05] pshemass commented on #309
that's good idea however I would probably use different name something like

[code]

feel free to open open PR

[2021-08-31 07:05] guizmaii opened #318 "`java.lang.StackOverflowError` when adding `initializeSlf4jBridge` in my project"
Here's how I initialize my logging layer:

[code]

When I launch my app with this configuration, the project start without any issue.

When I add `>>> initializeSlf4jBridge`, then the service generate a `` when booting:

[code]

Error:
[code]

[2021-08-31 07:10] vigoo commented on #318
The `initializeSlf4jBridge` should be used with a zio-logging appender which is not the `Slf4jAppender`. The idea is that with `Slf4jAppender` zio-logging log messages are logged through the SLF4j logger. The `initializeSlf4jBridge` on the other hand sets up SLF4j logging to log through zio-logging.

You have to have a "real" appender on one of the sides.

[2021-08-31 07:11] guizmaii commented on #318
@vigoo Ok thanks! 🙏♥️

[2021-08-31 07:11] #318 closed

[2021-09-07 09:41] alek-w opened #322 "Support(bridge) for java.lang.System.Logger"

[2021-09-29 12:33] erdeszt opened #333 "Add support for logging Throwable as warning"
I would like to log a message as a warning and include an exception in the log. So similar to the:
[code]
I'd like to have a:
[code]
That would log at the `Warn` level but it would include the error trace similarly to `error`.

If this is already possible and I just missed it somehow I'm sorry, otherwise if there's no objection I'd be happy to work on a PR for this.

[2021-09-30 02:40] pshemass commented on #333
Go ahead and open PR for this.

[2021-10-05 03:04] #333 closed

[2021-10-10 14:09] cipriandrei10 opened #342 "zio-logging not working with ZIO 2.x"
Getting this error while using zio-logging with zio 2.0.0-M3, any plans on supporting it soon?

[code]

[2021-10-19 20:10] swoogles opened #347 "Backend for ZIO 2.0 Logging"
I will flesh this ticket out more as I get more experience in this area, but in short-

This project has done some excellent proof-of-concept work, that has largely been assimilated into ZIO Core.
Moving forward, this project can focus on providing back-end implementations of the new Logging facades defined in ZIO 2.0.

More information about the 2.0 logging changes is available in John's blog pos

[2021-10-19 20:50] renovate[bot] opened #348 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-10-19 21:14] #348 closed

[2021-10-20 04:34] pshemass commented on #347
@swoogles thanks I'm aware of this. I will work with @jdegoes on design for 2.0. I think this will be perfect issue for hackathon.

[2021-10-20 04:38] #342 closed, assigned to nobody

[2021-10-29 02:03] pshemass opened #359 "Documentation"
We need better documentation :)

[2021-10-29 17:53] pshemass opened #360 "ScalaFix for migration"
we should deprecate old api and create scalafix to move to ZIO 2.0

[2021-11-15 23:18] deusaquilus opened #372 "FileOutputStream in LogWriter needs to be opened in `append` mode."
In LogWriter, need to change this:
[code]
To this:
[code]
Otherwise all file streams opened by the writer will override previous files.

[2021-11-17 02:39] pshemass commented on #372
Thanks Alex for reporting that. I will work on that.

[2021-11-19 03:30] #372 closed

[2021-12-05 05:47] deusaquilus opened #379 "Check & create parent directory before calling FileOutputStream"
In addition to #372 please check that when opening the FileOutputStream the parent directory of the file exists. Have a look at `openOutputStream` in commons-io `FileUtils.openOutputStream` ([here](https://github.com/apache/commons-io/blob/73bd880e9aadeff507b068f67408a0e1b76d1f48/src/main/java/org/apache/commons/io/FileUtils.java#L2531)) or `PathUtils.newOutputStream` ([here](https://github.com/ap

[2021-12-10 20:20] domdorn opened #382 "Provide version for zio-2.0.0-M6-2"
I'm _trying_ to migrate a small service to zio 2 M6-2 to figure out what needs to be done..
Looks like the new baked-in logging implementation is not yet capable of handling the equivalent of `locally`... so at least for my projects, I'll probably have to rely on a version of zio-logging for zio-2.
would be great if we could have a first version for those of us that used zio-logging in 1.x and can

[2021-12-12 16:16] pshemass commented on #382
It’s work in progress. In `zio2` branch you will find code that but it’s not released just yet.

I wait for John to review https://github.com/zio/zio-logging/pull/363 hopefully this week we will push this.

[2021-12-23 12:10] tusharmath opened #389 "Unsafe Logging (without ZIO dependency)"
I am thinking of adding some logging to ZIO Http's backend. The purpose is to help debug issues in the library as a contributor and also as a consumer of the library I would sometime want to know what's going on behind the scenes.

A lot of the backend doesn't run on ZIO or FP, so it's a bit hard to use ZIO Logging for such type of code. eg:

[code]

**Proposal**
Support and `UnsafeLogger` that lo

[2022-01-17 15:32] jdegoes commented on #59
Structured logging will be supported in ZIO Logging 2.0 and preliminary support is already complete.

[2022-01-17 15:32] #59 closed

[2022-01-17 15:33] jdegoes commented on #147
This functionality has moved into `ZIO 2.0` so I will close this ticket (however, it is possible to log `Cause[E]` at any log level).

[2022-01-17 15:35] jdegoes commented on #240
The SLF4J bridge needs to be created in the 2.0 branch. Hopefully this ticket can incorporated into the redesign.

[2022-01-17 15:35] jdegoes commented on #253
Fixed in 2.0.

[2022-01-17 15:35] #253 closed

[2022-01-17 15:36] jdegoes commented on #322
This should be implemented as a `RuntimeConfigAspect` which calls `RuntimeConfigAspect.addLogger`, following the pattern laid down in `zio.logging` package object.

Any volunteers for this ticket?

[2022-01-17 15:36] #347 closed

[2022-01-17 15:36] jdegoes commented on #359
We need a whole microsite, as well as documentation!

[2022-01-17 15:37] jdegoes commented on #360
I think the new API is too different than the old API to attempt a Scalafix. However, I'd love to wrong about that. Will close this but please re-open if a Scalafix is viable.

[2022-01-17 15:37] #360 closed

[2022-01-17 15:37] jdegoes commented on #379
This is still relevant to `zio.logging.internal.FileWriter`.

[2022-01-17 15:38] jdegoes commented on #382
We have the code, we just need a release for `ZIO-2.0-RC1`. Hopefully this week!

[2022-01-17 15:38] #382 closed

[2022-01-17 15:39] jdegoes commented on #389
I think we have to close this now as it no longer makes sense in ZIO 2.0. ZIO Logging ties into the hooks of ZIO to get access to file, class, fiber id, etc., and is not likely to be a good fit for impure logging. We could integrate impure logging, but then it would not be able to access ZIO internal details such as the above. So better to rely on a first-class Java solution for this.

Please re-o

[2022-01-17 15:39] #389 closed

[2022-01-18 09:41] zhangzhonglai opened #401 "LogFormat's value is missing in v2.0.0-RC2"
![image](https://user-images.githubusercontent.com/308264/149909794-12ea39af-93ca-4e68-a50a-e2888399f243.png)

we can simply fix it by modify label method in file LogFormat.scala.

[code]

![image](https://user-images.githubusercontent.com/308264/149911000-21605383-c461-41d6-ac7b-e99c81c485ff.png)

[2022-01-21 12:11] #401 closed

[2022-02-09 08:54] dylandoamaral opened #414 "Remove "production ready" from this project"
Since ZIO2 migration, everything is changing, the documentation is outdated. We should remove the "production ready" badge.

[2022-03-13 16:52] francisdb commented on #359
Just some example code in the readme on how to use this in ZIO2 would already help a lot.

[2022-03-29 22:12] domdorn opened #431 "release version built against zio-1.0.13"
I ran into problems cause this library is still depending on zio 1.0.12 and pulling in 1.0.12 versions of zio-macros that for some reason didn't get replaced with the 1.0.13 version by sbt. I ended up having two versions of zio-test and their zio-test-macros and got runtime errors in IntelliJ when trying to run my tests.

Please release a version that depends on 1.0.13 so others don't run into the

[2022-04-17 18:48] etherline opened #443 "ZIOSpecDefault integration"
The following code works with ZIOAppDefault but the same idiom does not work with ZIOSpecDefault. Apologies if this is incorrect but I haven't been able to figure out any other way to use the current version of zio-logging.

[code]

with the following logback configuration file:
[code]

.. and the following dependencies:

[code]
outputs:
[code]

The following does not log anything except :
`+ Just

[2022-04-17 23:35] #443 closed

[2022-04-20 15:05] kluen opened #444 "Wrong logger used for uncaught failures"
Hi, I tried get my application to only log through SLF4J with the latest RC versions of zio and zio-logging. It works fine so far except for one use case: When the application, which is created with `ZIOAppDefault`, crashes without catching any error, I would still expect the output to be logged through SLF4J. However, it uses ZIO's built-in logger instead although it is deactivated.

Not entirely

[2022-04-20 15:18] domdorn opened #445 "SLF4J provide logging backend that stores everything in MDC"
This corresponds to https://github.com/zio/zio/issues/6673
I'm using SLF4J and the LogStashEncoder. I'm trying to put all fields/spans into MDCFields and just keep the real message in the message field. The only way I was able to accomplish this was by creating my own implementation of the SLF4J backend like

[code]

In general, when using SLF4J and one of the underlying backends, I want everythin

[2022-04-24 15:25] alphaho commented on #444
@kluen I think this issue should be raised in zio/zio instead

[2022-04-24 22:31] domdorn commented on #444
//cc @adamgfraser

[2022-04-25 16:05] adamgfraser commented on #444
See zio/zio#6714.

[2022-04-25 17:31] #444 closed, assigned to nobody

[2022-05-10 15:22] Ellzord opened #451 "LogAnnotation does not work with newtypes"
Trying to use newtypes with `LogAnnotation` but you get compile errors.

**Using zio 2.0.0-RC5, zio-prelude 1.0.0-RC13, zio-logging-slf4j 2.0.0-RC8.**

example
[code]

error
[code]

[2022-05-11 17:28] Ellzord opened #452 "Allow the cause to be logged"
Currently it isn't possible to access the `Cause` with `LogFormat`. It isn't also extensible enough to do that (due to `LogFormat.make()` being private).

We should consider adding `Cause` in `LogFormat.default` but at the very least add the ability to combine it in with `|-|` (add `val cause` to the companion object).

[2022-05-12 14:57] Ellzord opened #453 "ZIO.logAnnotate and LogAnnotation behave differently"
For the SLF4J logger + logstash the following code gives inconsistent results:

[code]

[code]

Using `LogAnnotation` it'll only appear if you provide that to the `LogFormat` and then it'll be only in the `message`. While any annotations are given their own place in the JSON. I believe they should work the same and it should not be included in the message at all (i.e. no need to supply to `LogForm

[2022-05-17 08:28] gchudnov opened #454 "ZIO 2.0 + slf4jLogger - Not possible to log a message on TRACE-level"
Hi,
When trying to log a message in ZIO 2.0 on trace level:
[code]

it seems the message is being ignored by the [following code](https://github.com/zio/zio-logging/blob/21df6c5c94d99a232cc7ae567fb357144f659eac/slf4j/src/main/scala/zio/logging/slf4j/SLF4J.scala#L59-L68) -- there is no matching `case` that match `LogLevel.Trace` there.

[2022-05-23 09:47] #454 closed

[2022-06-16 21:29] domdorn opened #462 "provide example on how to test logging messages"
The documentation should have a example on how to use the loggers in tests and how to do assertions on log messages.

[2022-07-03 11:12] justcoon commented on #462
Hi @domdorn,

with ZIO 2, logging interface is in zio core library,
you can use [ZTestLogger](https://github.com/zio/zio/blob/series/2.x/test/shared/src/main/scala/zio/test/ZTestLogger.scala)

to test log output, please check that, and let us know if this is what your are looking for,

also in addition thank you for your hint, definitely it should be in documentation, we will work on that ...

[2022-07-03 11:21] justcoon commented on #452
Hi @Ellzord,

`LogFormat.cause` was added, but for now, it is not part of `LogFormat.default`

you can create own one

[code]

let us know if this is solving this issue ...

thanks

[2022-07-10 16:02] justcoon commented on #451
it is look like, it is also related to https://github.com/zio/zio-prelude/issues/821

[2022-07-15 18:11] justcoon commented on #359
i am working on documentation and some examples

[2022-07-18 17:28] singha20 opened #477 "consoleJson is not available in v2.0.0 release"
I am looking at the documentation to log json messages but couldn't run it. Peeking into release code, it looks like the method is not there.
Is there any other way to log json messages ?

[2022-07-19 06:21] singha20 commented on #477
Its fixed, Thanks.

[2022-07-19 06:21] #477 closed

[2022-07-26 13:48] carbonshow opened #481 "why zio-logging output to console?"
Hello, I use the package `zio-logging-slf4j` , add set SLF4J log Layer into bootstrap:

[code]

But, the very first output generated by `akkaProvider` is printed in console instead of log file:
[code]

after that, zio-logging output into log file.

It seems that zio-logging keeps outputing to console until the application initialize the slf4j logger? For example , akka.event.slf4j.Slf4jLogger.

So

[2022-07-26 14:37] mhodovaniuk opened #482 "Slf4jBridge logs are missing arguments"
With Slf4jBridge.initialize, logs from Slf4j loggers are missing arguments.
`org.slf4j.impl.ZioLogger` logs as `run(ZIO.logInfo(String.format(format, arg)))`, but Slf4j loggers use `{}` as argument placeholder. As a result `String.format(format, arg)` ignores `{}` and message does not contain `arg` information.

[2022-07-26 18:36] justcoon commented on #481
hello @carbonshow

i tried to do something similar, like you have, with one of example, which we have

[code]

[code]

ended with similar issue

[code]

it is look like, that logger layer changes are not "propagated" to context, in which LivePingService.layer is created

thank you for report

[2022-07-26 19:31] justcoon commented on #481
hi @carbonshow,

it is look like there i issue in case of `>+>` operator in zio core library

but if you use `>>>` instead, it should work

[code]

[2022-07-27 02:52] carbonshow commented on #481
hi @justcoon , thanks for your suggestion. I want to test zio dependency propagation, so I add a counter which print increament number each ping(I add comments on the diff code as follows):
[code]

Please note the  `bootstrap = (logger >>> LivePingService.layer) ++ (logger >>> counter)` , what I get is:
- console
[code]

- log file
[code]

But, if I change the bootstrap into `logger >>> (LivePingS

[2022-07-27 03:00] carbonshow commented on #481
the log creating LivePingSerivce or counter just keep missing randomly. I guess they are created parallelly.

[2022-07-27 07:29] #481 closed

[2022-07-27 07:40] justcoon commented on #481
hi @carbonshow,

in such case, instead of

[code]

i would do

[code]

[2022-07-27 08:00] justcoon commented on #482
hi @mhodovaniuk, thank you for report, we will check it

[2022-07-30 21:51] domdorn opened #485 "`zio.logging.LogAnnotation` work in unexpected way."
I tried to migrate code from zio 1 to zio 2. it looks like there is a discrepancy between the `zio.LogAnnotation` and `zio.logging.LogAnnotation`. The one provided by zio correctly puts annotations as fields into the log, whereas `zio.logging.LogAnnotation` just stores them in the fibers Fiberrefs so they can be used to construct a custom LogFormat (which is of limited use when e.g. used together

[2022-07-31 16:12] justcoon commented on #485
hi @domdorn,

sorry for inconvenience,

we know about inconsistency between zio annotations and log annotations (it was also reported in #453), in current released version (2.0.1), `LogAnnotation`-s are not propagated into slf4j MDC context
we are working on fix and also another improvements, which should fix current issues in relation to slf4j integration

there is draft PR #479 created, which sh

[2022-08-01 22:02] adamgfraser opened #487 "LogFormat.default and LogFormat.colored Should Include Cause If It Exists"
`LogFormat.default` and `LogFormat.cause` should include the `Cause` if it exists. It appears that this will require some changes in the interface of `LogFormat` to support `label` only adding a key to the log appender if the value exists.

[2022-08-05 09:36] 987Nabil opened #489 "Logging settings not applied with `2.0.1` and slf4j"
I have the following zio logging slf4j setting
[code]
and a logback.xml looks like this

[code]

I would expect it to log json, as it did while still on some 2.0.0-RCx version.
But instead I see default format, I guess.

I depend on
[code]

[2022-08-06 17:47] justcoon commented on #489
Hi @987Nabil,

thank you very much for report, based on your inputs

i made following example app (in zio-logging/examples)

there are deps:
[code]

[code]

[code]

in console i have log messages as `json`

[code]

did I miss something?

[2022-08-09 11:57] 987Nabil commented on #489
Hmm strange. I did try it multiple times. Today I tried again and now it looks okay... I am not sure what happened. I'll do some more investigation. If I can't reproduce this again soon, I'll close the issue.

[2022-08-10 07:53] #482 closed

[2022-08-17 16:52] justcoon commented on #489
@987Nabil did you check it? Thanks.

[2022-08-18 08:11] justcoon commented on #240
fixed in #482

[2022-08-18 08:11] #240 closed

[2022-08-18 08:19] justcoon commented on #451
may be related to https://github.com/zio/zio-prelude/pull/949

[2022-08-18 08:36] 987Nabil commented on #489
Yes, Sorry. It was in fact a problem on our side. I'll close this.

[2022-08-18 08:36] #489 closed

[2022-08-18 08:55] Ellzord commented on #452
LGTM

[2022-08-18 08:55] #452 closed

[2022-08-18 09:09] justcoon commented on #453
propagation of annotations to MDC context was fixed in `2.1.0` version,
at this level zio LogAnnotation-s and zio-logging LogAnnotation-s got same behavior,  documentation/example:  [slf4j logger annotations](https://github.com/zio/zio-logging/blob/master/docs/overview/index.md#slf4j-logger-name-and-annotations)

[2022-08-18 09:14] justcoon commented on #485
hi @domdorn,
propagation of annotations to MDC context was fixed in 2.1.0 version,
at this level zio LogAnnotation-s and zio-logging LogAnnotation-s got same behavior, documentation/example: [slf4j logger annotations](https://github.com/zio/zio-logging/blob/master/docs/overview/index.md#slf4j-logger-name-and-annotations)

can you check it. if it solved your problem?

thank you very much

[2022-08-18 09:38] Ellzord commented on #453
LGTM

[2022-08-18 09:38] #453 closed

[2022-08-18 10:32] justcoon opened #491 "slf4j/logback MDC context reset/rewritten with other Fiber before it is logged"
in case of parallel execution, it may happen, that MDC context will be reset/rewritten with other Fiber, before it is logged

[code]

[code]

this may be also related to implementation of:
`ch.qos.logback.classic.spi.LoggingEvent.getMDCPropertyMap`

<img width="1734" alt="Screenshot 2022-08-18 at 12 25 15" src="https://user-images.githubusercontent.com/5932736/185373346-5419b72d-91f3-4e59-a5b4-743

[2022-08-18 16:35] justcoon commented on #322
i am working on impl. ...

[2022-08-26 12:45] kluen opened #496 "Numeric fields are not of numeric type in resulting JSON"
I'm trying to produce numeric fields in the JSON output when using `consoleJson`.

Here is an example where I am trying to print the line number of the trace:
[code]

which results in
[code]

Note that the `"10"` is actually a string, not a number.

Looking at the code, I was wondering how exactly `LogAppender.appendNumeric` is intended to be used anyway. It seems odd that it excepts any type: `de

[2022-08-27 09:11] justcoon commented on #496
hi @kluen, thank you for report

current implementation of json logger appender converting number to string

[code]
not sure what was reason for that, but i will discuss it, and let you know (i am not author of this LogAppender)

in general it is about how specific `LogAppender` is implemented, at the end

but also, I think, if there is possibility to have it like number, it should be number, not

[2022-08-27 09:25] justcoon commented on #496
hi @davidlar,

as you are author of json `LogAppender`, can you say something about this problem? Is there some reason why numeric values are converted to string, and not handled like numbers?

Thank you very much.

[2022-08-28 18:07] davidlar commented on #496
Hi!

As I remember appendNumeric wasn't used by any existing log formats, so I didn't bother. It should be easy to fix though.

[2022-08-29 16:18] justcoon commented on #496
hi @davidlar,

i think, in general most of log appenders transforming log inputs to string, so maybe that is reason why it was like that

but if there is possibility to use specific data types, in my opinion, we should use it, so i think we should have it also in json like number not like string

[2022-08-29 21:36] #487 closed

[2022-08-30 10:53] RicoGit opened #498 "Vague "text_context" in json logs when use LogFormat.colored"
Take logger format from docs: https://zio.github.io/zio-logging/docs/overview/overview_index#json-console-log
[code]
Get pretty log message:
`{"timestamp":"2022-08-30T14:47:56.974589+04:00","level":"INFO","thread":"zio-fiber-6","message":"Start application"}`

change `LogFormat.default` to `LogFormat.colored`
Get additional field "text_context"
`{"text_content":"\u001b[34m\u001b[0m \u001b[36m\u001

[2022-08-31 18:19] justcoon commented on #498
Hi @RicoGit, thank you for report

not sure if this is expected behavior, in general I think that json LogAppender adding everything under text_content attribute,  in case when specific "sub" LogFormat do not have defined attribute

LogFormat.colored using ansi escape codes to change colors in terminal

but in current implementation, it does not look like that this combination  of json console app

[2022-08-31 18:35] kluen commented on #496
Is there any need for it?
@davidlar In my particular case, I need some fields to be numbers so that the log format adheres to a common schema defined by our central log aggregation (we are trying to mimic the output of the widely used [logback-logstash-encoder](https://github.com/logfellow/logstash-logback-encoder)). I believe log aggregation with a schema like this might be a fairly common use ca

[2022-08-31 19:44] davidlar commented on #496
I think we can fix it for simple cases like
[code]

but if you concat formats like this
[code]
it will result in a json string, of course.

Does that feel ok to you?

[2022-09-08 21:26] justcoon commented on #496
Hi @davidlar, i think your proposal is good. Are you willing to make these changes? Thanks.

[2022-09-09 07:18] davidlar commented on #496
Sure!

[2022-09-10 09:53] davidlar commented on #498
We could of course drop all ansi escape codes in text_content when we create the json.
I cannot see that we can support colored json as it wouldn't be json anymore, right?

[2022-09-10 14:05] justcoon commented on #498
@davidlar yes, i think that is good idea, we should drop escape codes

[2022-09-10 14:49] davidlar commented on #498
Fixed in https://github.com/zio/zio-logging/pull/505

[2022-09-13 12:52] RicoGit opened #507 "Enclosing Class doesn't look well in json logs"
Add `LogFormat.enclosingClass` into json logs like this:
[code]
Got:
[code]

Expected:
[code]

[2022-09-13 12:54] RicoGit commented on #498
Yep, looks good in 2.1.1, thank you guys!

[2022-09-13 12:54] #498 closed

[2022-09-13 13:02] davidlar commented on #507
You should label enclosingClass if you want it to look good:

[code]

The reason is that we need structured logging to be able to output nice json. text_content is where everything else ends up when we have a non optimal format.

[2022-09-13 13:14] RicoGit commented on #507
Thanks, I'll use custom formatted for this:
[code]

[2022-09-13 15:04] jdegoes opened #508 "Generalize |+| / |_| to "concatenation" so it becomes more compatible with JSON logging"

[2022-09-14 08:10] justcoon commented on #496
hi @kluen, new version was released, (thanks to @davidlar for fix), can you let us know, if it is ok now? Thank you very much.

[2022-09-15 10:09] justcoon opened #509 "log filtering improvements"
current version of `ZLogger` (zio 2.0.2) and also other loggers implementations, in general, they are supporting just log filtering by `LogLevel` (`Zlogger.filterLogLevel`)

in general log backends implementations like logback, log4j also supporting by configuration "filtering" by package/Logger name

we should have support for something like that also in `ZLogger`,

previous version of zio-loggin

[2022-09-15 13:53] gkfabs opened #510 "Check if Throwables are null"
In log functions ([debug](https://github.com/zio/zio-logging/blob/144b77c734937d69eda15145a93e538433a008ef/slf4j-bridge/src/main/scala-2/org/slf4j/impl/ZioLogger.scala#L45), [trace](https://github.com/zio/zio-logging/blob/144b77c734937d69eda15145a93e538433a008ef/slf4j-bridge/src/main/scala-2/org/slf4j/impl/ZioLogger.scala#L26), etc...) we never check if the throwable is null. We could then use the

[2022-09-15 14:02] justcoon commented on #510
hi @gkfabs , thanks for report, we will add check for that ...

[2022-09-15 17:30] #510 closed

[2022-09-16 18:23] kluen commented on #496
I just checked with my example above and zio-logging 2.1.1. It works as expected.

Thanks @davidlar for the fix and @justcoon for driving the topic forward!

[2022-09-16 18:23] #496 closed

[2022-09-20 06:35] RicoGit opened #519 "Different logger format when use Slf4jBridge"
[code]
logs from SLF4J have plaint text format, logs from ZioLogger have json format.
[code]
**expected**: the same format for all logs.

[2022-09-20 07:08] RicoGit commented on #519
Oh, yes, sorry. Thank you!

[2022-09-20 07:08] #519 closed

[2022-09-20 07:09] justcoon commented on #519
@RicoGit no problem, I am glad, that it is solving your problem

[2022-09-20 13:05] jeejeeone opened #520 "Support slf4j markers in SLF4J backend"
Support slf4j `org.slf4j.Marker` in SLF4J backend. Currently slf4j Marker API cannot be used with zio-logging-slf4j SLF4J backend. This is inconvenient in some use cases, for example when using an ECS Layout with `includeMarkers`.

For example write info log in current implementation:
`slf4jLogger.info(message.toString, throwable)`

It should be possible to pass `org.slf4j.Marker` to SLF4J appende

[2022-09-20 19:23] justcoon commented on #520
hi @jeejeeone, I made draft PR #521, please check it and let me know, what do you think about that ...

[2022-09-21 08:11] jeejeeone commented on #520
@justcoon Hello, looks good to me! My use case with ECS layout and includeMarkers works ok and the API is nice.

[2022-09-21 08:29] justcoon commented on #520
@jeejeeone , thanks you for answer

Just for clarity (i mentioned there 2 variants), for your use case:
2. variant where, there is log marker name provided
`val confidentialMarker = SLF4J.logMarkerName("CONFIDENTIAL")`

Do you think that variant? I like it more, it look nicer, but may be limitation for some very specific use cases, where somebody  like to provide custom Marker implementation

[2022-09-21 08:38] jeejeeone commented on #520
In my previous reply I was referring to the second variant :-) Yeah, it's nice, not sure about custom Marker implementations.

[2022-09-29 18:15] jiahuili430 opened #524 "Shall we add support for scala 2.13.9?"
`CVE-2022-36944` exists in scala 2.13.0 ~ 2.13.8, see https://nvd.nist.gov/vuln/detail/CVE-2022-36944
Are we going to add support for scala 2.13.9?

[2022-09-29 19:08] justcoon commented on #524
@jiahuili430 thank you for report,
tried make update, however there is bug https://github.com/scala/bug/issues/12650

[2022-09-30 11:05] carbonshow opened #526 "Why is the log of resource release not output when interuppted?"
Here is the demo:

[code]

While the Demo running, send signal to interrupt, the results are:
1. Console output "released"
2. I **can't find** the release log of `counter` in log: ZIO.logInfo(s"release counter with: ${counter.get()}")
3. But the next log: Done is output.
[code]

I just don't understand why the middle log is lost.

[2022-09-30 16:33] justcoon commented on #526
Hi @carbonshow,

tried your example with zio-logging master

and with logback configuration (from examples)

[code]

I have following result:

[code]

I can see also  `release counter with`, now I am not sure, if I am missing something, or where is the problem ...

Which versions of libraries are you using (zio, zio-logging ...)?

[2022-09-30 16:58] #520 closed

[2022-10-01 02:10] carbonshow commented on #526
@justcoon sorry, I forget the versions and log configuration, could you please help me check again?

1. packages:
[code]
1. log configuration, I'm using log4j2:
[code]
I run the demo using Idea IDE, the output is :
<img width="895" alt="image" src="https://user-images.githubusercontent.com/2541304/193378976-ec5a2fed-5789-4322-bd01-307ab073e76b.png">

As the above figure, I just can't find the log

[2022-10-01 09:03] carbonshow commented on #526
And when I change log4j2 to logback and use FileAppender insteal of stdout, everthing is OK:
<img width="1077" alt="image" src="https://user-images.githubusercontent.com/2541304/193401906-e118a4b8-49c1-40cf-b315-a0273e41e514.png">

Maby, it's bug of Log4j? Anyway, this issue is not related with zio logging.

[2022-10-01 09:03] #526 closed

[2022-10-01 10:26] justcoon commented on #526
@carbonshow

it may be related to log4j, it may happen that application is shutdown sooner that underlying Appender in log4j add it to specific output, especially when Appender using some buffering ...

[2022-10-03 18:12] justcoon commented on #451
@Ellzord

new  zio prelude `1.0.0-RC16` was released, and it fixed problem

[code]

[code]

[2022-10-03 18:14] justcoon commented on #462
Hi @domdorn, please let me know if this solving your problem, thank you very much.

[2022-10-03 18:16] justcoon commented on #507
Hi @RicoGit,
do you have something else in relation to this issue? Thanks for answer.  I like to close it if not, thanks.

[2022-10-03 18:19] RicoGit commented on #507
Sure not, feel free.

[2022-10-03 18:24] justcoon commented on #485
hi @domdorn, please let me know  if my previous comment solving your problem, and I can close this issue. Thank you very much

[2022-10-03 18:38] justcoon commented on #445
Hi @domdorn,

current version of zio-logging 2.1.1, should allow custom `LogFormat` definition which should allow put everything into MDC

`LogAppender.appendKeyValue` appending data into MDC

example:

[code]

let me know, if this is solving your problem

Thanks

[2022-10-03 22:55] domdorn commented on #462
sadly we've deleted all code that tests log output from our tests, so can't reproduce this now anymore :-/

[2022-10-03 22:55] #462 closed

[2022-10-04 12:16] domdorn commented on #485
Hi @justcoon ,
yes, it looks like my problem is fixed - thanks!

[2022-10-04 12:16] #485 closed

[2022-10-06 07:34] Ellzord commented on #451
LGTM

[2022-10-06 07:34] #451 closed

[2022-10-06 18:32] #507 closed

[2022-10-18 23:11] lxwbr opened #541 "Effectful logging instrumentation"
We're currently migrating to ZIO 2 and one unsolved problem is following - we used to hook into the Logger in order to write out some metrics depending on the LogLevel:
[code]
That follows an example described by @joroKr21 here: https://github.com/zio/zio-logging/issues/149#issuecomment-688042789

Unfortunately there is nothing I could find like `Logging.modifyLoggerM` in order to hook into the lo

[2022-10-19 00:07] lxwbr commented on #541
Seems to be possible to achieve that with `Runtime.addLogger`

[2022-10-19 00:07] #541 closed

[2022-10-22 09:37] #524 closed

[2022-10-27 12:39] justcoon commented on #359
i will continue to work on documentations improvements during [ZIO Hackathon 2022 - New York City](https://github.com/orgs/zio/projects/6)

[2022-10-27 12:50] justcoon commented on #309
with zio 2, `Runtime.removeDefaultLoggers` should remove all loggers

closing this ticket as it was related to zio 1 implementation, fill free to open new one, if there are some other issues

[2022-10-27 12:50] #309 closed

[2022-10-28 18:57] #359 closed

[2022-10-28 22:49] #509 closed

[2022-11-08 16:52] stivens opened #553 "`zio.logging.LogAnnotation` does not work when `version > 2.0.1`"
`??? |-| annotation(LogAnnotation.TraceId)` doesnt display any trace id. Downgrading to 2.0.1 "resolves" the problem

[2022-11-08 18:13] justcoon commented on #553
Hi @stivens,
thanks for your report, can you add some details? Which logging layer are you using?

Thank you very much

[2022-11-08 19:45] stivens commented on #553
Hi @justcoon
Im using SL4J backend

[code]

[2022-11-08 22:15] justcoon commented on #553
Hi @stivens,

that part changed with version `2.1.0` for slf4j,

please check https://github.com/zio/zio-logging/blob/master/docs/slf4j.md

if you will have some additional question, or something will be unclear, please let me know

thank you

[2022-11-09 10:05] stivens commented on #553
Given:

[code]

output:
[code]

---------------

What else should I setup?

[2022-11-09 10:22] stivens commented on #553
Update: Okay it does work when I put `trace_id=%X{trace_id}` into logback configuration.

Anyway, it should work when passed as constructor argument as well

[2022-11-09 10:34] stivens opened #554 "`label` has invalid format when using `SL4J`"
Given:

[code]

I would expect: `level=LEVEL message="MESSAGE"` but there is `levelLEVEL message"MESSAGE"` instead.

I think it is caused by empty implementation of `closeKeyOpenValue`

[code]

[code]

[2022-11-09 18:08] justcoon commented on #554
Thank you @stivens, in this case it is appropriate to have `label=value`, i created fix #555  for this issue

[2022-11-09 19:39] #554 closed

[2022-11-14 16:29] stivens commented on #553
Maybe SLF4J constructor should not accept "generic" LogFormat then? I think it is kinda confusing

[2022-11-14 19:02] justcoon commented on #553
yes, it is confusing, but also opening place for customisations,

in general, we will work on documentations improvements

and also think about how to clarify or improve  it more, to have it more clear

with latest release (2.1.4), is it ok for you?

[2022-11-15 15:10] stivens commented on #553
Do you mean #555?

[2022-11-18 08:47] justcoon commented on #553
Hi @stivens,

yes, i mean also this one,

considering discussion here, I was not sure what else remaining here

considering `zio.logging.LogAnnotation`, as I mentioned, in current implementation they are going to MDC, and if you do not have in specific logger backend format MDC setup, they will not be visible

I do not think that it is possible to know in common zio-logging-slf4j implementation, h

[2022-11-18 10:31] Marc-Ducret opened #567 "Support SLF4J 2.0.x for slf4j-bridge"
If any other library depends on `slf4j-api` 2.0.x, the StaticLoggerBinder approach will not work as it is no longer supported in such versions of SLF4J. See https://www.slf4j.org/codes.html#ignoredBindings.

In this case such warnings would be printed:
[code]
And therefore logs sent to SLF4J are then simply ignored.

[2022-11-19 16:30] justcoon commented on #567
Hi @Marc-Ducret ,

thank you for report

I briefly check that, and it is look like that specific implementation for slf4j 2.0.x will be needed

[2022-11-19 19:27] frevib opened #569 "logErrorCause does not show nested/suppressed/chained exceptions"
### Current behaviour:

`logErrorCause(message: => String, cause: => Cause[Any])` only logs the last exception message and stack trace in the exception chain.

### Desired behaviour:

`logErrorCause(message: => String, cause: => Cause[Any])` should log the last exception message with stack trace, **including all nested/suppressed/chained exceptions with their stack traces**

### Example

comment o

[2022-11-19 20:05] justcoon commented on #569
Hi @frevib ,

this does not look like `zio-logging` project issue,

just for clarity

zio-logging project contains backends for zio `ZLogger`, which is defined in [zio](https://github.com/zio/zio)

i am not sure which exact version if zio you are using

but I tried to compile your example with zio 2.0.3

and have following error

[code]

considering your program (and my knowledge)

[code]

first c

[2022-11-19 20:17] frevib commented on #569
Hi,

I put all three `catchAllxxx` below each other, to show the different behaviours. Use the first one `.catchAll(err => ZIO.succeed(err.printStackTrace()))` to show the first example, e.g.:

[code]

Use the second one for the second example:

[code]

Last example:

[code]

My question is:

why does `catchAllCause(err => ZIO.logErrorCause("log with ZIO Cause", err))` not log `SecondException` an

[2022-11-19 20:24] justcoon commented on #569
hi,

i think that

.catchAllCause(err => ZIO.logErrorCause("log with ZIO Cause", err))

is equal to

      .catchAllTrace {
        case (ex, trace) => ZIO.logErrorCause("log with ZIO Cause and trace", Cause.fail(ex, trace))
      }

there is Cause.fail vs Cause.die, and there are some differences (not sure how this is applied in specific cases ... , and why is not Throwable like Cause.die, maybe

[2022-11-19 21:38] justcoon commented on #569
hi @frevib

have some additional informations

if you call `ZIO.fail`, it will transformed to `Cause.Fail`

if you cal `ZIO.die`, it will transformed to `Cause.Die`

in case of zio default logger, `Cause.prettyPrint` is used

implementation of this function for `Cause.Fail` is more like `.toString`, so for throwable it will be `throwable.toString`

for `Cause.Die` it is using `throwable.getStackTr

[2022-11-20 16:51] justcoon commented on #569
hi @frevib,

I  had discussion with zio-core contributors,

based on your questions, `Cause.prettyPrint` was changed (https://github.com/zio/zio/pull/7541),

with this change `Cause.Fail` with throwable should be printed in same way like `Cause.Fail`

thank you

[2022-11-20 18:15] frevib commented on #569
Thanks for the quick wrap up. Can we expect the change in the upcoming ZIO release?

[2022-11-20 18:27] justcoon commented on #569
PR was merge, so it should be in next zio release, however I am not sure when it will be released, last zio release (2.0.4) was made 2 days ago

[2022-11-22 14:56] stivens commented on #553
This behaviour is fine. Or even great I would say.

The only issue is that SL4J factory accepts LogFormat which is not compatible with it. Maybe it should accept some other type instead? So it will be customizable but not misleading.

BTW. Thank you! :)

[2022-11-30 02:04] fernanluyano commented on #491
ZIO doesn't seem to be taking the logback.xml file into account. Any directions or issues with that?

[2022-11-30 22:07] justcoon commented on #491
hi @fernanluyano ,

can you share more details in relation to your issue?

This bug is not exactly related to logback.xml, a least based on my investigation

Thank you

[2022-11-30 23:10] fernanluyano commented on #491
I'm not claiming is a bug. I'm following these [docs](https://zio.dev/guides/tutorials/create-custom-logger-for-a-zio-application/)
After including the logback dependencies as stated [here](https://zio.dev/guides/tutorials/create-custom-logger-for-a-zio-application/#switching-to-the-logback-logging-framework) , I don't the see the "(NOP) logger implementation" anymore. Which makes me believe it do